@import url('https://fonts.googleapis.com/css2?family=Rubik+Storm&display=swap');

img{
    width: 500px;
}
body{
    text-align: center;
    font-family: 'Arial';
    background: #000000;
    font-family: "Rubik Storm";
    .title{
    color: #ffffff; /* balts virsraksts */
}
.text1{
    color: #ff6b6b; /* sarkans */
}
.text2{
    color: #feca57; /* dzeltens */
}
.text3{
    color: #48dbfb; /* zils */
}
}