@import url('https://fonts.googleapis.com/css2?family=Rubik+Storm&display=swap');

img{
    width: 500px;
}
body{
    text-align: center;
    font-family: 'Arial';
    background: #000000;
    font-family: "Rubik Storm";
    .title{
    color: #ffffff; /* balts */
}
.text1{
    color: #ff4757; /* Japānas sarkanais */
}
.text2{
    color: #eccc68; /* zeltains */
}
.text3{
    color: #70a1ff; /* zilgans */
}
}