@import url('https://fonts.googleapis.com/css2?family=Rubik+Storm&display=swap');

img{
    width: 500px;
}
body{
    text-align: center;
    font-family: 'Arial';
    background: #000000;
    color: rgb(255, 255, 255);
    font-family: "Rubik Storm";
}